$root-hover: #f1f1ff9a;

.article-prev-root {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
        width: 30px;
        text-align: center;
    }
}

.article-prev-root:hover {
    background-color: $root-hover;
    cursor: pointer;
}

.article-prev-left {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
        margin: 10px;
        font-weight: 400;
        width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.article-prev-info {
    display: flex;

    div {
        display: flex;
        flex-direction: row;
        margin: 5px 10px 5px 10px;

        h5 {
            font-weight: 100;
            margin: 0;
        }
    }
}