.solution-cardboard {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.solution-card {
    box-sizing: border-box;
    width: 33%;
    padding: 15px;}

    

.solutions-count-wrap {
    height: 50%;
    margin: 10% 2rem 10% 2rem;
}

.solutions-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    height:100%;
}

.Comp-view-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2rem;
    border-radius: 1rem;
}