@import "../shared/shared.scss";

$primary-color: #404A5D;
$link-color: #404A5D;
$link-hover: #6a7da0;

.content-background {
    min-width: $page-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-banner {
    width: 100%;
    height: 300px;
    background-size: cover;

    .content-banner-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #615454, $alpha: 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content-banner-title {
            color: white;
            font-weight: 500;
        }

        .content-banner-subtitle {
            color: white;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .content-banner-description {
            color: white;
            font-weight: 400;
        }
    }
}

.content-root {
    width: $page-width;
    display: flex;
    flex-direction: row;

    .content-left {
        min-height: 750px;
        width: 18%;
        margin-left: 1%;
        margin-right: 1%;

        .content-navi {
            width: 100%;
            margin-top: 20px;

            & > button {
                border-top: 1px solid rgb(219, 219, 219);
            }

            & > button:first-child {
                border: none
            }
        }
    }

    .content-right {
        height: 100%;
        width: 78%;
        margin-left: 1%;
        margin-right: 1%;
        padding-bottom: 50px;
    }
}

.nav-row-root-button {
    width: 100%;
    justify-content: flex-start !important;
}

.nav-row-root-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-row-sub-button {
    padding-left: 20px !important;
    width: 100%;
    justify-content: flex-start !important;

    h4 {
        margin: 10px 0 10px 0;
    }
}

.nav-row-sub-list {
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 221, 221, 0.4);
    width: 100%;
}