.detail-box {
  position: relative;
  overflow: hidden;

  .detail-bg {
    position: absolute;
    top: 0;
    width: 100%;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0) 100%
    );

    .button-more {
      position: absolute;
      bottom: 8px;
      width: 96px;
      left: calc(100% / 2 - 96px / 2);
      color: black;
      font-weight: bold;
    }
  }

  .detail-bottom {
    text-align: center;

    .button-less {
      color: black;
      font-weight: bold;
    }
  }
}
