@import "../shared/shared.scss";

// $board-color: #67748d;
// $border-radius: 3px;

.board-root {
    display: flex;
    flex-flow: column;
}

.board-table {
    display: table;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.board-row {
    display: table-row;
}

.board-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;

    h4 {
        margin: 10px;
    }

    // & > div {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-items: center;
    // }
}

.board-button {
    width: 100%;
    height: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.board-icon {
    width: 80px !important;
    height: 80px !important;
}