$main-color: rgb(12, 0, 78);

.markdown_viewer {
    line-height: 1.5;
}

.markdown_heading {
    border-left: 3px solid $main-color;
    padding-left: 10px;
}

.markdown_ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_paragraph {
    margin-block-end: 1em;
}

.markdown_emphasis {
    font-style: italic;
}

.markdown_strong {
    font-weight: bold;
}

.markdown_link:link {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_link:visited {
    color: green;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_link:hover {
    color: hotpink;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_link:active {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

.markdown_table {
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown_pre {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
}

.markdown_inline_code {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 4px;
}