@import "../shared/shared.scss";

$header-slim-font-size: 14px;
$header-slim-button-color: #1e4cad;
$header-slim-button-text-color: #ffffff;

$header-back-color: #ffffff;

$menu-logo-maxheight: 80px;
$menu-primary-padding: 10px;
$menu-primary-color: black;
$menu-primary-hover: #1d4d8b;

$menu-secondary-count: 4;
$menu-secondary-text: 15px;
$menu-secondary-color: #242424;
$menu-secondary-hover: #1d4d8b;
$menu-secondary-border: #d9d8d5;

header {
  min-width: $page-width;

  a:hover {
    cursor: pointer;
  }

  .header-slim-background {
    background-color: $header-back-color;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .header-slim {
    width: $page-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul.header-container {
      height: 28px;
      display: flex;
      font-size: $header-slim-font-size;

      .header-button {
        background-color: $header-slim-button-color;
        color: $header-slim-button-text-color;
        height: 100%;
      }

      li.header-item {
        span {
          padding: 0 12px;
        }

        a {
          padding: 0 16px;
          display: inline-block;
          line-height: 28px;
          text-decoration: none;
        }
      }
    }
  }

  .header-gnb {
    width: $page-width;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;

    & > a {
      margin: 10px auto 10px 120px;
      img {
        max-height: $menu-logo-maxheight;
      }
    }
  }
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: fit-content;
  z-index: 1;

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    & > li {
      display: inline-block;
      padding: 0 $menu-primary-padding 0 $menu-primary-padding;
      border-right: 1px solid #d9d8d5;

      & > a {
        display: block;
        text-decoration: none;
        color: $menu-secondary-color;
        text-align: center;
        font-size: $menu-secondary-text;
        margin: 15px 0 15px 0;
        width: 115px;
      }

      & > a:hover:not(.active) {
        color: $menu-secondary-hover;
      }

      & > .font-small {
        font-size: 13px;
      }
    }

    & > li:last-child {
      border-right: none;
    }
  }

  :hover > & {
    display: block;
  }
}

.menu-primary {
  display: block;
  height: 100%;

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;

    & > li {
      display: inline-block;
      padding: $menu-primary-padding;
      vertical-align: middle;

      & > a {
        display: block;
        color: $menu-primary-color;
        text-align: center;
        text-decoration: none;
        word-break: keep-all;
        width: 115px;
      }

      & > a {
        font-size: 20px;
      }

      & .font-small {
        font-size: 16px;
      }
    }

    & > li a:hover:not(.active) {
      color: $menu-primary-hover;
    }

    :hover:not(.active) ~ .menu-dropdown {
      display: block;
    }
  }
}
