@import "../shared/shared.scss";

$category-padding: 0 20px 0 0;
$category-font: 18px;
$boundary-color: #696f7c;
$more-hover: #463FCA;
$header-color: #627edb;

.board-paper {
    height: 100%;
    position: relative;
    background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
}

.board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid $header-color;

    .board-header-button {
        flex-grow: 1;
        cursor: pointer;

        & > * {
            margin: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    .board-header-primary {
        background-color: $header-color;

        & > * {
            color: white;
        }
    }

    ul {
        list-style-type: none;
        display: block;
        overflow: hidden;
        padding: 15px;
        margin: 0px;

        li {
            display: inline-block;
            padding: $category-padding;
            font-size: $category-font;
        }
    }
}

.board-footer {
    display: flex;
    flex-direction: row;
    
    a {
        font-weight: 100;
        font-size: 14px;
        margin-left: auto;
        padding: 5px;
        color: $more-hover;
    }
}

.board-kind-image {
    width: 200px;
    height: 200px;
    z-index: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    opacity: 0.5;
}