@import "../shared/shared.scss";

// $header-color: #67748d;
$category-padding: 0 20px 0 0;
// $category-enabled: #ffffff;
// $category-disabled: #B3C6DF;
$category-font: 18px;
// $border-radius: 3px;
$boundary-color: #696f7c;

.board-paper {
    height: 100%;
}

.board-header {
    display: block;
    // background-color: $header-color;
    // border-radius: $border-radius $border-radius 0 0;

    ul {
        list-style-type: none;
        display: block;
        overflow: hidden;
        padding: 15px;
        margin: 0px;

        li {
            display: inline-block;
            padding: $category-padding;
            font-size: $category-font;
        }
    }
}

.board-contents {
    // background-color: white;
    // border: 1px solid $header-color;
    // border-radius: 0 0 $border-radius $border-radius;

    // ul {
    //     padding-inline-start: 20px;

    //     & > li {
    //         padding: 7px 0px 7px 0;
    //         margin-right: 20px;
    //         border-bottom: 1px solid $boundary-color;
    //         color: black;
    //         overflow: hidden;
    //         text-overflow: ellipsis;
    //         white-space: nowrap;
    //     }
    // }

    // ul > li:last-child {
    //     border-bottom: none;
    // }
}