.solution-company-view {
  .c-logo {
    width: 100%;
  }

  .c-name {
    font-size: 2rem;
    font-weight: bold;
    color: #004db3;
  }

  .c-name-eng {
    font-size: 1rem;
    font-weight: bold;
    color: #aaa;
  }

  .c-info-container {
    clear: both;
    margin: 12px 0;

    .c-info-item {
      margin: 4px 0;

      > * {
        display: inline-block;
        box-sizing: border-box;
      }

      > :first-child {
        width: 20%;
        font-weight: bold;
        text-align: left;
        padding-right: 8px;
      }

      > :last-child {
        width: 80%;
      }

      a,
      a:visited {
        color: black;
      }
    }
  }
}
