$separator-color: #a7abcc;

.list-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(214, 214, 214);

    & > div {
        border-bottom: 1px solid $separator-color;
    }
}

.list-fetching {
    width: 100%;
    text-align: center;
}

.list-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-total-info {
    padding-bottom: 5px;
}