.writer-wrapper {
    margin-bottom: 10px;
}

.writer-editor {
    min-height: 500px !important;
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

.writer-uploading {
    display: flex;
    flex-direction: row;

    & > div {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.writer-caption {
    margin: 10px 0 0 0;
    color: #404A5D;
}

.writer-props {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.writer-title {
    flex-grow: 1;
    margin-bottom: 10px !important;
}

.writer-buttons {
    display: flex;
    flex-direction: row;

    & > label {
        margin-right: 10px;
    }
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
  }