.article-fetching {
    width: 100%;
    text-align: center;
}

.article-title {
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 5px;
}

.article-props {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > div:last-child {
        border-right: none;
    }
}

.article-contents {
    margin-bottom: 50px;
    overflow: auto;
}

.article-edit {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.article-prop-pair {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(214, 214, 214);

    strong {
        margin-right: 10px;
    }

    p {
        margin: 0;
    }
}

.article-files {
    padding-top: 30px;
    border-top: 1px solid gray;

    & > div {
        display: flex;
        margin-left: 10px;
    }
}