$separator-color: #a7abcc;
$title-hover: #1D4D8B;

.list-container {
    display: flex;
    flex-direction: column;

    & > div {
        border-bottom: 1px solid $separator-color;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td {
        text-align: center;
        border-bottom: 1px solid rgb(214, 214, 214);
        padding: 0;
    }
    
    th {
        border-top: 1px solid rgb(214, 214, 214);
        border-bottom: 1px solid rgb(214, 214, 214);
        padding: 8px 0 8px 0;
    }

    tr {
        border-collapse: collapse;
        border-spacing: 0;
    }

    h3 {
        font-weight: 400;
        margin: 0.5rem 0 0.5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h3:hover {
        cursor: pointer;
    }

    .list-title {
        text-align: left;
    }
    
    .list-row:hover {
        h3 {
            color: $title-hover;
        }
    }
}

.list-fetching {
    width: 100%;
    text-align: center;
}

.list-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-total-info {
    padding-bottom: 5px;
}

.list-create {
    margin: 10px !important;
}