@import "../shared/shared.scss";

$banner-height: 500px;
$header-color: rgb(12, 0, 78);

.banner-root {
    min-width: $page-width;
    height: $banner-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-layout {
    height: 100%;
    width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .notice-layout {
        width: 37%;
        min-height: 400px;
        padding: 10px;
        display: flex;

        & > div {
            width: 100%;
        }
    }

    .hub-preview-layout {
        width: 60%;
        min-height: 400px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-grow: 1;

            .hub-preview-paper {
                flex-grow: 1;
                flex-basis: 0;
                margin: 20px 5px 20px 5px;

                .hub-preview-button {
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.3);

                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.0);
                        -webkit-transition: background-color 200ms linear;
                        -ms-transition: background-color 200ms linear;
                        transition: background-color 200ms linear;
                    }

                    .hub-preview-text {
                        font-weight: 600;
                        font-size: 15px;
                        color: white;
                    }
                }
            }
        }
    }
}

.menu-board {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .menu-table {
        width: 75%;
        display: table;

        .menu-row {
            display: table-row;

            .menu-cell {
                display: table-cell;
                vertical-align: middle;
                padding: 10px;
            
                h4 {
                    margin: 10px;
                }

                .menu-paper {
                    height: 180px;
                }

                .menu-button {
                    width: 100%;
                    height: 100%;
                    padding-top: 5px !important;
                    padding-bottom: 5px !important;

                    .menu-icon {
                        width: 120px !important;
                        height: 120px !important;
                    }
                }
            }
        }
    }
}

.slide-container {
    min-width: $page-width;
    width: 100%;
    background-color: #273447;
}

.comment-background {
    min-width: $page-width;
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;

    .comment-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: $page-width;

        .comment-each {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 9px;
            padding-right: 9px;
            border-left: white dashed 0.3px;
            
            h2 {
                width: 100%;
                font-weight: 700;
                font-size: 22px;
                color: white;
                text-align: center;
                word-break: keep-all;
                margin-top: 15px;
                margin-bottom: 10px;
            }
        
            h5 {
                font-weight: 50;
                font-size: 17px;
                color: whitesmoke;
                text-align: center;
            }
        }

        .comment-each:first-child {
            border-left: 0;
        }
    }
}

.board-background {
    min-width: $page-width;
    width: 100%;
    display: flex;
    justify-content: center;
}

.board-puple {
    background-color: #f5f6fa;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #dedfe7;
}

.board-column-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: $page-width;
    padding: 20px 0 30px 0;
}

.board-row-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    width: $page-width;
    padding: 20px 0 30px 0;
}

.board-row-inner-sep {
    & > div {
        border-left: 1px solid #dedfe7;
    }

    & > div:first-child {
        border-left: none;
    }
}

.board-title {
    border-left: 3px solid $header-color;
    padding-left: 10px;
    margin-left: 10px;
}

.board-half {
    width: 50%;
}

.preview-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menu-card-layout {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.menu-card-root {
    max-width: 400px;
    width: 100%;
    margin: 15px;
}

.menu-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-media {
    height: 220px;
}

.modal {
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    width: 85%;
    display: flex;
    flex-direction: column;

    & > h2 {
        text-align: center;
        color: white;
    }
}

.modal-content:focus {
    outline:none;
}

.modal-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-title {
    width: 20%;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid white;
}

.modal-menu {
    width: 80%;
    div {
        justify-content: left !important;
    }
}
