@import "../shared/shared.scss";

$slide-height: 500px;
$slide-text-size: 50px;
$header-color: rgb(12, 0, 78);

.slide-container {
    min-width: $page-width;
    height: $slide-height;
    width: 100%;
    position: relative;
}

.campus-slide {
    & > img {
        z-index: 0;
        position: absolute;
        right: 0;
        height: 100%;
    }

    .menu-root {
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: $slide-height;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-board {
            width: $page-width;

            .menu-table {
                display: table;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
    
                .menu-row {
                    display: table-row;
    
                    .menu-cell {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px;
                    
                        h4 {
                            margin: 10px;
                        }
    
                        .menu-paper {
                            height: 180px;
                            width: 200px;
                        }
    
                        .menu-button {
                            width: 100%;
                            height: 100%;
                            padding-top: 5px !important;
                            padding-bottom: 5px !important;
    
                            .menu-icon {
                                width: 120px !important;
                                height: 120px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.comment-background {
    min-width: $page-width;
    width: 100%;
    background-color: #273447;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: $page-width;
    
    h2 {
        font-weight: 500;
        font-size: 30px;
        color: white;
        border-bottom: 1px solid whitesmoke;
    }

    p {
        font-weight: 50;
        font-size: 15px;
        color: whitesmoke;
    }
}

.board-background {
    min-width: $page-width;
    width: 100%;
    display: flex;
    justify-content: center;
}

.board-puple {
    background-color: #edeef3;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #dedfe7;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: $page-width;
    padding: 10px 0 10px 0;

    & > h3 {
        border-left: 3px solid $header-color;
        padding-left: 10px;
        margin-left: 10px;
    }
}

.menu-card-layout {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.menu-card-root {
    max-width: 400px;
    width: 100%;
    margin: 15px;
}

.menu-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-media {
    height: 220px;
}

.notice-root {
    width: 100%;
    height: 310px;
    padding: 5px;
}

.modal {
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    width: 85%;
    display: flex;
    flex-direction: column;

    & > h2 {
        text-align: center;
        color: white;
    }
}

.modal-content:focus {
    outline:none;
}

.modal-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-title {
    width: 20%;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid white;
}

.modal-menu {
    width: 80%;
    div {
        justify-content: left !important;
    }
}