$sep-color: #404a5d41;
$caption-color: rgba(0, 0, 0, 0.575);

.hub-instruction {
    display: flex;
    flex-direction: row;

    * {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        margin-top: 10px;
        color: $caption-color;
    }
}

.hub-cate-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $sep-color;

    button {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.hub-sv-viewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;

    .hub-sv-2nd-paper {
        width: 100%;
        margin: 8px 0 8px 0;
        overflow: hidden;

        .hub-sv-2nd-button {
            width: 100%;
            height: 100%;
            padding: 10px;
            overflow: hidden;
        }
    }

    .hub-sv-first {
        height: 100px;
    }

    .hub-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & > h6 {
            text-overflow: ellipsis;
            border-bottom: 1px solid rgba(0, 0, 0, 0.384);
        }

        & > * {
            width: 100%;
        }
    }
}