$sep-color: #404a5d41;
$caption-color: rgba(0, 0, 0, 0.575);

.hub-description {
    p {
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        word-break: keep-all;
    }
}

.hub-control-paper {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;

    .hub-control-notice {
        text-align: center;
        font-weight: 200;
        color: $caption-color;
    }

    .hub-control-contents {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hub-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        
            .hub-subtitle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                & > h6 {
                    text-overflow: ellipsis;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
                }
        
                & > * {
                    width: 100%;
                }
            }
        }
        
        .hub-first {
            width: 30%;
            margin: 0 1% 0 3%;
        }
        
        .hub-second {
            width: 60%;
            margin: 0 3% 0 1%;
        }
        
        .hub-row {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 10px 0 10px 0;
        
            .hub-first-paper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        
            .hub-second-paper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 33%;
                padding: 10px 0 10px 0;
            }
        }
    }
}

.hub-wrap-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hub-divider {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}