$background-color: #f2f6ff;

.login-root {
    overflow: auto;
    width:100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
}

.login-paper {
    width: 400px;
}

.login-subtitle {
    padding: 0 0 2.5rem 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 30px 20px 30px 20px;
}

.login-sign {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}

.login-divider {
    width: 80%;
    padding-bottom: 1rem;
}

.login-container>div{
    margin: 10px;
}

.login-button {
    width: 60%;
    margin: 0 0 1rem 0 !important;
}