@import "../shared/shared.scss";

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.main-body {
    padding-top: $header-height;
}

.main-footer {
    min-height: 150px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: rgb(87, 87, 87);
        margin: 0;
    }

    strong {
        color: rgb(87, 87, 87);
    }
}