@import "../shared/shared.scss";

$slide-height: 500px;
$slide-text-size: 50px;

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: $slide-height;

    & > span {
        font-size: $slide-text-size;
        text-align: center;
        color: white;
        font-weight: bold;
    }
}

.board-background {
    width: 100%;
    background-color: #edeef3;
    display: flex;
    justify-content: center;
}

.board-container {
    display: flex;
    max-width: $page-width;
    width: 100%;
    
    & > * {
        width: 50%;
        margin: 18px 10px 18px 10px;
    }
}