@import "../shared/shared.scss";

.solution-manager {
  width: $page-width;
  margin: 32px auto 16px;
  padding: 16px;

  .sidebar-right > div {
    margin-bottom: 24px;
    padding: 12px;
  }

  .custom-text-field {
    margin-bottom: 12px;
  }

  .ck.ck-content:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 12px;
  }

  .solution-editor {
    .category-selector {
      height: 820px;
      overflow-y: auto;

      li:first-child {
        background-color: white;
      }
    }
  }
}
