.left-section {
  .solution-company-view {
    margin-bottom: 24px;
  }
}

.right-section {
  ul > div {
    li {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  padding-bottom: 12px;
}
